input {
    border-radius: 4vh;
    padding: 15px;
    width: 150px;
}

p {
    color: rgb(255, 255, 255);
}

input[type=submit]{
    background-color: rgb(209, 209, 209);
    padding-top: 15px;
    padding-bottom: 30px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
}


h1 {
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 12vh;
    margin-left: 45%;
    font-size: 3vh;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 20vh;
    margin-left: 9vh;
    font-size: 2.5vh;
    font-family:Arial, Helvetica, sans-serif;
}


h3 {
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 7vh;
    margin-left: 9vh;
    font-size: 2.5vh;
    font-family:Arial, Helvetica, sans-serif;
}

/* .homeItems {
    width: 190vh;
    height: 190vh;
    display: flex;
    flex-direction: row;
    margin-top: 28vh;
    margin-left: 9vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
} */

.homeItems {
    width: 190vh;
    height: 190vh;
    display: flex;
    overflow:scroll;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 23vh;
    margin-left: 9vh;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
}

.items {
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    max-width: 30vh;
    height: 70vh;
    margin-top: 5vh;
    margin-left: 5vh;
    padding: 2vh;
    flex: 0 0 100%;
    scroll-snap-align: start;
    transition: all 0.2s;
}



.addItem {
    /* width: 190vh; */
    width: 30vh;
    display:flex;
    height: 58vh;
    flex-direction: column;
    margin-left: 9vh;
    margin-top: 5vh;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
}

h4 {
    margin-top: 5vh;
    margin-left: 10vh;

}

form input{
    color: black;
    margin-top: 2vh;
    margin-left: 2vh;
    display: flex;
    flex-direction: column;
    height: 1vh;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
}


form label {
    margin-left: 2vh;
}

mat-form-field input{
    height: 2vh;
}

mat-form-field {
    height: 10vh;
    margin-top: 5vh;
}

.updateButton {
    margin-top: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.deleteButton {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 20vh;
    margin-left: 13vh;
}
.imageLeft {
    height: 20vh;
    margin-left: 3vh;
    width: 20vh;
    background-color: red;
    position: relative;
}

mat-card-title {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2vh;
}

mat-card-subtitle {
    position: relative;
    margin-top: 1vh;
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}




/* .homeItems2 {
    width: 195vh;
    display: flex;
    flex-direction: row;
    margin-top: 14vh;
    margin-left: 9vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  
    
} */
/* 
.items{
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    max-width: 50vh;
    flex: content;
    flex-direction: row;
    height: 50vh;
    margin-left: 3vh;
    padding: 2vh;
} */



