<p>inventory works!</p>

    <h1>Single Origins</h1>
    
    <h2>Light Roasts</h2>

    <div class="homeItems">
        <mat-card *ngFor="let item of items; let i=index" class="items">
            <img mat-card-image class="imageLeft" [src]="item.image">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle><strong>Origin: </strong>{{item.category}}</mat-card-subtitle>
            <mat-card-subtitle><strong>Primary Tastes: </strong>{{item.description}}</mat-card-subtitle>


            <mat-card-actions>
                <mat-form-field class="availableInput">
                    <mat-label>Availability (g)</mat-label>
                    <input matInput type="number" 
                        color="accent"
                        placeholder="0"
                        [value]="item.availability"
                        (change)="detectAmountChange($event)">
                </mat-form-field>
                <button mat-raised-button class="updateButton" (click)="updateAmount(item._id!)">Update</button>
                <button mat-raised-button  class="deleteButton" (click)="removeItem(item._id!, i)">Delete</button>

            </mat-card-actions>
        </mat-card>
    </div>
      
      <!-- <div class="block">
        <div class="homeItems">
          <mat-card class="items">
            <form [formGroup]="formGroup">
                <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" placeholder="Select a Country" [editable]="true" optionLabel="country"></p-dropdown>
            </form>
          </mat-card>
      </div>
      </div> -->
      
    

    <!-- <div class="homeItems2">
        <mat-card *ngFor="let item of items; let i=index" class="items">
            <img mat-card-image class="imageLeft" [src]="item.image">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle><strong>Catergory:</strong>{{item.category}}</mat-card-subtitle>
            <mat-card-subtitle><strong>Description:</strong>{{item.description}}</mat-card-subtitle>

            <mat-card-actions>
                <mat-form-field class="availableInput">
                    <mat-label>Availability</mat-label>
                    <input matInput type="number" 
                        color="accent"
                        placeholder="0"
                        [value]="item.availability"
                        (change)="detectAmountChange($event)">
                </mat-form-field>
                <button mat-raised-button class="updateButton" (click)="updateAmount(item._id!)">Update</button>
                <button mat-raised-button  class="deleteButton" (click)="removeItem(item._id!, i)">Delete</button>

            </mat-card-actions>
        </mat-card>
    </div> -->


    <!-- <div class="homeItems2">
        <mat-card *ngFor="let item of items; let i=index" class="items">
            <img mat-card-image class="imageLeft" [src]="item.image">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle><strong>Catergory:</strong>{{item.category}}</mat-card-subtitle>
            <mat-card-subtitle><strong>Description:</strong>{{item.description}}</mat-card-subtitle>

            <mat-card-actions>
                <mat-form-field class="availableInput">
                    <mat-label>Availability</mat-label>
                    <input matInput type="number" 
                        color="accent"
                        placeholder="0"
                        [value]="item.availability"
                        (change)="detectAmountChange($event)">
                </mat-form-field>
                <button mat-raised-button class="updateButton" (click)="updateAmount(item._id!)">Update</button>
                <button mat-raised-button  class="deleteButton" (click)="removeItem(item._id!, i)">Delete</button>

            </mat-card-actions>
        </mat-card>
    </div> -->





    <h4>Add a new single origin to your list:</h4>
    <mat-card class="addItem">

            <!-- ADD A NEW ITEM -->
            <form  [formGroup]="newItem" (ngSubmit)="createItem()">

                <label for="image">Image URL</label>
                <input id="image" type="text" formControlName="image"/>

                <label for="title">Item Name</label>
                <input id="title" type="text" formControlName="title"/>

                <label for="category">category</label>
                <input id="category" type="text" formControlName="category"/>

                <label for="description">description</label>
                <input id="description" type="text" formControlName="description"/>

                <label for="availability">starting amount</label>
                <input id="availability" type="number" readonly formControlName="availability"/>


                <input class="submitButton" type="submit"/>
            </form>
        </mat-card>






