<p>inventory works!</p>

    <h1>Single Origins</h1>
    <h2>Light Roasts</h2>

    <div class="homeItems">
        <mat-card *ngFor="let item of items" class="items">
            <img mat-card-image class="imageLeft" [src]="item.image">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle><strong>Total Availability:</strong>{{item.availability}}</mat-card-subtitle>
            <button mat-raised-button routerLink="/update" class="updateButton">Update</button>
        </mat-card>
    </div>

    <h3>Medium / Light Roasts</h3>

    <div class="homeItems2">
        <mat-card *ngFor="let item of items" class="items2">
            <img mat-card-image class="imageLeft" [src]="item.image">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle><strong>Total Availability:</strong>{{item.availability}}</mat-card-subtitle>
            <button mat-raised-button routerLink="/update" class="updateButton">Update</button>
        </mat-card>
    </div>

    <h3>Medium Roasts</h3>

    <div class="homeItems2">
        <mat-card *ngFor="let item of items" class="items2">
            <img mat-card-image class="imageLeft" [src]="item.image">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle><strong>Total Availability:</strong>{{item.availability}}</mat-card-subtitle>
            <button mat-raised-button routerLink="/update" class="updateButton">Update</button>
        </mat-card>
    </div>

    <h3>Medium / Dark Roasts</h3>

    <div class="homeItems2">
        <mat-card *ngFor="let item of items" class="items2">
            <img mat-card-image class="imageLeft" [src]="item.image">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle><strong>Total Availability:</strong>{{item.availability}}</mat-card-subtitle>
            <button mat-raised-button routerLink="/update" class="updateButton">Update</button>
        </mat-card>
    </div>

    <h3>Unroasted</h3>

    <div class="homeItems2">
        <mat-card *ngFor="let item of items" class="items2">
            <img mat-card-image class="imageLeft" [src]="item.image">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle><strong></strong>{{item.availability}}</mat-card-subtitle>
            <button mat-raised-button routerLink="/update" class="updateButton">Update</button>
        </mat-card>
    </div>



