input {
    border-radius: 4vh;
    padding: 10px;
    width: 150px;
}



input[type=submit]{
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px;
}

/* .availableInput {
    background-color: red;
    width: 20vh;
} */

h1 {
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 12vh;
    margin-left: 45%;
    font-size: 3vh;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 20vh;
    margin-left: 9vh;
    font-size: 2.5vh;
    font-family:Arial, Helvetica, sans-serif;
}


h3 {
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 7vh;
    margin-left: 9vh;
    font-size: 2.5vh;
    font-family:Arial, Helvetica, sans-serif;
}

.homeItems {
    width: 120vh;
    display: flex;
    flex-direction: row;
    margin-top: 28vh;
    margin-left: 9vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
}

.addItem {
    /* width: 190vh; */
    width: 70vh;
    margin-top: -343vh;
    display: flex;
    height: 58vh;
    flex-direction:column;
    margin-left: 135vh;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
}

h4 {
    margin-top: 2vh;
}
form input{
    margin-top: 2vh;
    margin-left: 2vh;
    display: flex;
    flex-direction: column;
    height: 1vh;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(219, 204, 183);
}

form label {
    margin-left: 2vh;
}

.submitButton {
    margin-left: 20vh;
}

.items {
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    max-width: 30vh;
    height: 55vh;
    margin-left: 3vh;
    padding: 2vh;
    flex: 0 0 100%;
    scroll-snap-align: start;
    transition: all 0.2s;
}

mat-form-field input{
    height: 2vh;
}

mat-form-field {
    height: 10vh;
    margin-top: 5vh;
}

.updateButton {
    margin-top: 15vh;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.deleteButton {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 15vh;
    margin-left: 13vh;
}
.imageLeft {
    height: 20vh;
    width: 20vh;
    background-color: red;
    position: relative;
}

mat-card-title {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

mat-card-subtitle {
    position: relative;
    margin-top: 1vh;
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}



.homeItems2 {
    width: 195vh;
    display: flex;
    flex-direction: row;
    margin-top: 14vh;
    margin-left: 9vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  
    
}

.items2 {
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    max-width: 25vh;
    height: 50vh;
    margin-left: 3vh;
    padding: 2vh;
    flex: 0 0 100%;
    scroll-snap-align: start;
    transition: all 0.2s;
}



