<p>inventory works!</p>
<!-- <div class="box">
    <img src=".//src/assets/background.png" class="img1"> -->


    <h2>Light Roasts</h2>

    <div class="homeItems">
        <mat-card *ngFor="let item of items" class="items">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>By {{item.author}} on {{item.description}}</mat-card-subtitle>
        </mat-card>
    </div>

    <h3>Medium / Light Roasts</h3>

    <div class="homeItems2">
        <mat-card *ngFor="let item of items" class="items2">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>By {{item.author}} on {{item.description}}</mat-card-subtitle>
        </mat-card>
    </div>

    <h3>Medium Roasts</h3>

    <div class="homeItems2">
        <mat-card *ngFor="let item of items" class="items2">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>By {{item.author}} on {{item.description}}</mat-card-subtitle>
        </mat-card>
    </div>

    <h3>Medium / Dark Roasts</h3>

    <div class="homeItems2">
        <mat-card *ngFor="let item of items" class="items2">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>By {{item.author}} on {{item.description}}</mat-card-subtitle>
        </mat-card>
    </div>

    <h3>Unroasted</h3>

    <div class="homeItems2">
        <mat-card *ngFor="let item of items" class="items2">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>By {{item.author}} on {{item.description}}</mat-card-subtitle>
        </mat-card>
    </div>



