  <mat-toolbar>
  <nav>
      <ul>
          <li>
              <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
              <a routerLink="/inventory" routerLinkActive="active" ariaCurrentWhenActive="page">Inventory</a>
              <a routerLink="/craft" routerLinkActive="active" ariaCurrentWhenActive="page">Blend</a>
              <a routerLink="/location" routerLinkActive="active" ariaCurrentWhenActive="page">Location</a>

          </li>
      </ul>
    </nav>
</mat-toolbar>


<router-outlet></router-outlet>







