<p>Update works!</p>


<div class="block">
    <mat-card *ngFor="let item of items" class="items2">
        <img mat-card-image class="imageLeft" [src]="item.image">
    </mat-card>

    <mat-card *ngFor="let item of items" class="items">
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-title class="labelCurrent">Currently Available</mat-card-title>
        <mat-card-subtitle><strong>Price/Bag: </strong>{{item.price}}</mat-card-subtitle>
        <mat-card-subtitle><strong>Bag Size: </strong>{{item.size}}</mat-card-subtitle>
        <mat-card-subtitle><strong>Total Availability: </strong>{{item.availability}}</mat-card-subtitle>
    </mat-card>

    <mat-card *ngFor="let item of items" class="items3">
        <mat-card-title class="labelCurrent2">Update Current Quantity</mat-card-title>
        <mat-card-subtitle>Quantity</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput placeholder="Quantity">
        </mat-form-field>
        <button mat-raised-button routerLink="/inventory" class="updateButton">Add Updates</button>
    </mat-card>


</div>

