<p>craft works!</p>

<!--first need to verify -->

<div>
  <p>Please verify yourself as a crafting user: </p>

  <input  [formControl]="username" placeholder="username" type="text"/>
  <input  [formControl]="password" placeholder="password" type="password"/>
  <button (click)="checkVerification()">Verify</button>
</div>

<div>
  <p>WELCOME {{username.value | uppercase}}</p>
</div>
<!--craft section is already verified-->


<div class="block">
  <h2>Recently Blended</h2>
  <div class="homeItems">
    <!-- <mat-card *ngFor="let item of items" class="items">
        <img mat-card-image class="imageLeft" [src]="item.image">
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle><strong>Price/Bag:</strong> {{item.price}}</mat-card-subtitle>
        <mat-card-subtitle><strong>Bag Size:</strong>{{item.size}}</mat-card-subtitle>
        <mat-card-subtitle><strong>Total Availability:</strong>{{item.availability}}</mat-card-subtitle>
        <button mat-raised-button routerLink="/update" class="updateButton">Update</button>
    </mat-card> -->
</div>

</div>

<div class="block2">
  <!-- <mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Step 1</ng-template>
      <ng-template matStepContent>
        <p>Pick the location where you want to create a new blend</p>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 2</ng-template>
      <ng-template matStepContent>
        <p>Pick your base bean</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <p>Measure out the base bean (g)</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 4</ng-template>
        <p>Pick your second bean</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 5</ng-template>
        <p>Measure out the second bean (g)</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 6</ng-template>
        <p>Bean Selection 2</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
  </mat-stepper> -->
</div>