<p>craft works!</p>

<!--first need to verify -->

<div appAuthOnly [isVerified]="!isVerified">
  <p>Please verify yourself as a blending user: </p>
  <input class="auth"  [formControl]="username" placeholder="username" type="text"/>
  <input class="auth2"  [formControl]="password" placeholder="password" type="password"/>
  <button  class="verify" (click)="checkVerification()">Verify</button>
</div>

<div appAuthOnly [isVerified]="isVerified">
  <h3>Hi {{username.value}} </h3>
  
  <div class="block">
    <h2>Select which of the coffee bean combinations you would like to blend<h3 *ngIf="isBlending">Busy Blending ...</h3></h2>
    <div class="homeItems">
      <mat-card class="items" *ngFor="let blend of listOfBlends">
          <img mat-card-image class="imageLeft" img src="assets/light2.webp">
          <mat-card-title>{{blend.name}}</mat-card-title>
          <mat-card-subtitle><strong>{{blend.description}}</strong></mat-card-subtitle>
  
  
          <mat-card-subtitle *ngFor="let ingredients of blend.ingredients" ><strong></strong>
          <span>{{ingredients.amountNeeded}}g of </span>
          <span>{{ingredients.inventoryId.title}} </span>
          <span>({{ingredients.inventoryId.availability}}g available)</span>
          </mat-card-subtitle>
  
          <mat-card-subtitle><strong>Current Blends: {{blend.availability}}</strong></mat-card-subtitle>
          <button (click)="blendRecipe(blend._id!)" [disabled]="isBlending" *ngIf="blend.craftable" mat-raised-button class="updateButton">Blend</button>
          <button *ngIf="!blend.craftable" mat-raised-button color="disabled" class="updateButton">Missing Ingredients!</button>
  
      </mat-card>
  </div>
  </div>
  
</div>




