/* mat-stepper {
    width: 40vh;
    background-color: blueviolet;

} */


.block {
    margin-left: 5vh;
    margin-top: 10vh;
    height: 80vh;
    width: 180vh;
    position: absolute;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    display: grid;
}