

<!-- <div class="box">
    <img src=".//src/assets/background.png" class="img1"> -->
    <h2>Coffee Beans</h2>

    <!-- <div class="homeItems">
    <mat-card *ngFor="let item of items" class="items">
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>By {{item.author}} on {{item.description}}</mat-card-subtitle>

    </mat-card>
    </div> -->

    <div class="homeItems">

    <ng-image-slider class="testImages" [images]="imgCollection"></ng-image-slider>
    </div>
<!-- </div> -->
