



<div class="container">
    <img src=".//src/assets/background.png" alt="Snow" style="width:100%;">
    <!-- <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div> -->
    <div class="centered">Welcome to your Beans! Here you are able to BLEND all of your favourite combinations of flavourful beans from Africa, Europe and Asia.</div>
    <img class="cover" src=".//src/assets/cover.png.jpg" style="width:20vh;">
  </div>

